body {
}

/* GENERAL GENERATE BUTTON ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlash
{
from    {   background: url('../Img/generateDefault.png'); }
to      {   background: url('../Img/generateDefault.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlash
{
from    {   background: url('../Img/generateDefault.png'); }
to      {   background: url('../Img/generateDefault.png'); background-position: 0px 3200px;  }

}

/* WARRIOR GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashRed
{
from    {   background: url('../Img/generateRed.png'); }
to      {   background: url('../Img/generateRed.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashRed
{
from    {   background: url('../Img/generateRed.png'); }
to      {   background: url('../Img/generateRed.png'); background-position: 0px 3200px;  }

}

/* WIZARD GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashBlue
{
from    {   background: url('../Img/generateBlue.png'); }
to      {   background: url('../Img/generateBlue.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashBlue
{
from    {   background: url('../Img/generateBlue.png'); }
to      {   background: url('../Img/generateBlue.png'); background-position: 0px 3200px;  }

}


/* ROGUE GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashYellow
{
from    {   background: url('../Img/generateYellow.png'); }
to      {   background: url('../Img/generateYellow.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashYellow
{
from    {   background: url('../Img/generateYellow.png'); }
to      {   background: url('../Img/generateYellow.png'); background-position: 0px 3200px;  }

}


/* HEALER GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashGreen
{
from    {   background: url('../Img/generateGreen.png'); }
to      {   background: url('../Img/generateGreen.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashGreen
{
from    {   background: url('../Img/generateGreen.png'); }
to      {   background: url('../Img/generateGreen.png'); background-position: 0px 3200px;  }

}



.btn_Generate
{
    background: url('../Img/generateDefault.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #003ba4;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: #ffffff;
    
}
.btn_Generate:hover
{
    -webkit-animation:menuFlash 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlash 60s linear infinite;
}
.btn_GenerateWarrior
{
    background: url('../Img/generateRed.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #810e05;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    
}
.btn_GenerateWarrior:hover
{
    -webkit-animation:menuFlashRed 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashRed 60s linear infinite;
}

.btn_GenerateWizard
{
    background: url('../Img/generateBlue.png');
    width:400px;
    height:150px;
    border-radius:40px;
    border: 0px;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    -webkit-animation:menuFlashBlue 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashBlue 60s linear infinite;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;  
}

.btn_GenerateRogue
{
    background: url('../Img/generateYellow.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #8f7b00;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.btn_GenerateRogue:hover
{
    -webkit-animation:menuFlashYellow 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashYellow 60s linear infinite;
}

.btn_GenerateHealer
{
    background: url('../Img/generateGreen.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #35793f;
    font-family: Consolas,monaco,monospace;
    -webkit-animation:menuFlashGreen 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashGreen 60s linear infinite;
    font-size:30px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;    
}


.btn_TabSmallGreen2 {

    background: #308241;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
    border: 0px;
	border-bottom-left-radius:0px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmallGreen2:hover {
    background: #419352;
}
.btn_TabSmallGreen2:disabled {
    background: #212121;
}

.btn_Email {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
    cursor: pointer;
	color:#777777;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:1000px;
	text-decoration:none;
    text-align:left;
	text-shadow:1px 1px 0px #ffffff;
}
.btn_Email:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.btn_Email:active
{
    position: relative;
    top: 1px;
}

.btn_Warrior
{
    background: url('../Img/codeWarrior.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Wizard
{
    background: url('../Img/automationWizard.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Rogue
{
    background: url('../Img/stockRogue.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Healer
{
    background: url('../Img/investmentHealer.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;   
}
#btnWarriorAbility {
    cursor: pointer;
}
#btnWizardAbility {
    cursor: pointer;
}
#btnRogueAbility {
    cursor: pointer;
}
#btnHealerAbility {
    cursor: pointer;
}

.stockButton
{
    background: #002a93;
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:14px;
	height:30px;
    width: 150px;
	line-height:30px;
    margin: 5px;
    margin-top: 5px;
	text-decoration:none;
	text-align:center;
}

.stockButton:disabled {
    background: black;
    color: #4a4e54;
}

.stockButton:hover {
	background: #003ba4;
}

.stockSideButton
{
    background: rgba(0, 22, 164, 0.2);
    border: none;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:12px;
	height:30px;
    width: 75px;
	line-height:30px;
	text-decoration:none;
	text-align:left;
}

.stockSideButton:hover {
	background: rgba(0, 22, 164, 0.4);
}

.investButton {
    font-family:Consolas,monaco,monospace;
	background: url('../Img/stockBgGreen.png');
    cursor: pointer;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-size:14px;
	text-decoration:none;
	text-align:center;
    margin: 0 auto;
    border-radius: 5px;
    margin-right: 10px;  
    height: 40px; 
    width: 500px;
}

.investButton:hover {
	background: url('../Img/stockBgGreen2.png');

}

