body {
}

/* GENERAL GENERATE BUTTON ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlash
{
from    {   background: url('../Img/btn_HackBG.png'); }
to      {   background: url('../Img/btn_HackBG.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlash
{
from    {   background: url('../Img/btn_HackBG.png'); }
to      {   background: url('../Img/btn_HackBG.png'); background-position: 0px 3200px;  }

}

/* WARRIOR GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashRed
{
from    {   background: url('../Img/btn_HackBGRed.png'); }
to      {   background: url('../Img/btn_HackBGRed.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashRed
{
from    {   background: url('../Img/btn_HackBGRed.png'); }
to      {   background: url('../Img/btn_HackBGRed.png'); background-position: 0px 3200px;  }

}

/* WIZARD GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashBlue
{
from    {   background: url('../Img/btn_HackBGBlue.png'); }
to      {   background: url('../Img/btn_HackBGBlue.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashBlue
{
from    {   background: url('../Img/btn_HackBGBlue.png'); }
to      {   background: url('../Img/btn_HackBGBlue.png'); background-position: 0px 3200px;  }

}


/* ROGUE GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashYellow
{
from    {   background: url('../Img/btn_HackBGYellow.png'); }
to      {   background: url('../Img/btn_HackBGYellow.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashYellow
{
from    {   background: url('../Img/btn_HackBGYellow.png'); }
to      {   background: url('../Img/btn_HackBGYellow.png'); background-position: 0px 3200px;  }

}


/* HEALER GENERATE ANIMATION
 Chrome, Safari, Opera */
@-webkit-keyframes menuFlashGreen
{
from    {   background: url('../Img/btn_HackBGGreen.png'); }
to      {   background: url('../Img/btn_HackBGGreen.png'); background-position: 0px 3200px;  }

}
/* Standard syntax */
@keyframes menuFlashGreen
{
from    {   background: url('../Img/btn_HackBGGreen.png'); }
to      {   background: url('../Img/btn_HackBGGreen.png'); background-position: 0px 3200px;  }

}



.btn_Generate
{
    background: url('../Img/generateDefault.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #003ba4;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    
}
.btn_Generate:hover
{
    -webkit-animation:menuFlash 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlash 60s linear infinite;
}
.btn_GenerateWarrior
{
    background: url('../Img/generateRed.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #810e05;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    
}
.btn_GenerateWarrior:hover
{
    -webkit-animation:menuFlashRed 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashRed 60s linear infinite;
}

.btn_GenerateWizard
{
    background: url('../Img/generateBlue.png');
    width:400px;
    height:150px;
    border-radius:40px;
    border: 0px;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    -webkit-animation:menuFlashBlue 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashBlue 60s linear infinite;
    
}

.btn_GenerateRogue
{
    background: url('../Img/generateYellow.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #8f7b00;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    
}
.btn_GenerateRogue:hover
{
    -webkit-animation:menuFlashYellow 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashYellow 60s linear infinite;
}

.btn_GenerateHealer
{
    background: url('../Img/generateGreen.png');
    width:400px;
    height:150px;
    cursor: pointer;
    border-radius:40px;
    border: 1px solid #35793f;
    font-family: Consolas,monaco,monospace;
    font-size:50px;
    color: #ffffff;
    
}
.btn_GenerateHealer:hover
{
    -webkit-animation:menuFlashGreen 60s linear infinite; /* Chrome, Safari, Opera */
    animation:menuFlashGreen 60s linear infinite;
}

.btn_Style {
	-moz-box-shadow:inset 0px 1px 0px 0px #4a4e54;
	-webkit-box-shadow:inset 0px 1px 0px 0px #4a4e54;
	box-shadow:inset 0px 1px 0px 0px #4a4e54;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #093159), color-stop(1, #031630) );
	background:-moz-linear-gradient( center top, #093159 5%, #031630 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#093159', endColorstr='#031630');
	background-color:#093159;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
    cursor: pointer;
	color:#ffffff;
    font-family: Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
    width: 600px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000305;
}
.btn_Style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #031630), color-stop(1, #093159) );
	background:-moz-linear-gradient( center top, #031630 5%, #093159 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#031630', endColorstr='#093159');
	background-color:#031630;
}.btn_Style:active {
	position:relative;
}
.btn_Style:disabled {
    background: black;
    color: #4a4e54;
}

.btn_StyleRed {
	-moz-box-shadow:inset 0px 1px 0px 0px #c97e79;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c97e79;
	box-shadow:inset 0px 1px 0px 0px #c97e79;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d16a62), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #d16a62 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d16a62', endColorstr='#c62d1f');
	background-color:#d16a62;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #6e2c28;
	display:inline-block;
	color:#030103;
    cursor: pointer;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
    width: 600px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.btn_StyleRed:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #d16a62) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #d16a62 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#d16a62');
	background-color:#c62d1f;
}
.btn_StyleRed:active {
	position:relative;
	top:1px;
}
.btn_StyleRed:disabled {
    background: black;
    color: #4a4e54;
}

.btn_Tab {
	-moz-box-shadow:inset 0px 1px 0px 0px #cfcfcf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cfcfcf;
	box-shadow:inset 0px 1px 0px 0px #cfcfcf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #acc5d4), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #acc5d4 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acc5d4', endColorstr='#468ccf');
	background-color:#acc5d4;
    cursor: pointer;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #8ca1bd;
	display:inline-block;
	color:#14396a;
	font-family: Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
    margin-top:10px;
}
.btn_Tab:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #acc5d4) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #acc5d4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#acc5d4');
	background-color:#468ccf;
}.btn_Tab:active {
	position:relative;
	top:1px;
}

.btn_TabRed {
	-moz-box-shadow:inset 0px 1px 0px 0px #f0a9a3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f0a9a3;
	box-shadow:inset 0px 1px 0px 0px #f0a9a3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ba6c66), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #ba6c66 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba6c66', endColorstr='#c62d1f');
	background-color:#ba6c66;
    cursor: pointer;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #9c261d;
	display:inline-block;
	color:#000000;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.btn_TabRed:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #ba6c66) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #ba6c66 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#ba6c66');
	background-color:#c62d1f;
}.btn_TabRed:active {
	position:relative;
	top:1px;
}

.btn_TabBlue {
	-moz-box-shadow:inset 0px 1px 0px 0px #628aba;
	-webkit-box-shadow:inset 0px 1px 0px 0px #628aba;
	box-shadow:inset 0px 1px 0px 0px #628aba;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4681bf), color-stop(1, #254b85) );
	background:-moz-linear-gradient( center top, #4681bf 5%, #254b85 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4681bf', endColorstr='#254b85');
	background-color:#4681bf;
    cursor: pointer;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#000000;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.btn_TabBlue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #254b85), color-stop(1, #4681bf) );
	background:-moz-linear-gradient( center top, #254b85 5%, #4681bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#254b85', endColorstr='#4681bf');
	background-color:#254b85;
}.btn_TabBlue:active {
	position:relative;
	top:1px;
}

.btn_TabYellow {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #edc515), color-stop(1, #d4852a) );
	background:-moz-linear-gradient( center top, #edc515 5%, #d4852a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edc515', endColorstr='#d4852a');
	background-color:#edc515;
    cursor: pointer;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a8983b;
	display:inline-block;
	color:#0a0a05;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
.btn_TabYellow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4852a), color-stop(1, #edc515) );
	background:-moz-linear-gradient( center top, #d4852a 5%, #edc515 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4852a', endColorstr='#edc515');
	background-color:#d4852a;
}.btn_TabYellow:active {
	position:relative;
	top:1px;
}

.btn_TabGreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
    cursor: pointer;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#000000;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
.btn_TabGreen:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.btn_TabGreen:active {
	position:relative;
	top:1px;
}

.btn_Email {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
    cursor: pointer;
	color:#777777;
	font-family:Consolas,monaco,monospace;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:1000px;
	text-decoration:none;
    text-align:left;
	text-shadow:1px 1px 0px #ffffff;
}
.btn_Email:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.btn_Email:active
{
    position: relative;
    top: 1px;
}

.btn_Warrior
{
    background: url('../Img/codeWarrior.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Wizard
{
    background: url('../Img/automationWizard.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Rogue
{
    background: url('../Img/stockRogue.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;
    
}

.btn_Healer
{
    background: url('../Img/investmentHealer.png');
    width:188px;
    height:662px;
    border-radius:5px;
    border: 1px solid black;
    color: #ffffff;   
}
#btnWarriorAbility {
    cursor: pointer;
}
#btnWizardAbility {
    cursor: pointer;
}
#btnRogueAbility {
    cursor: pointer;
}
#btnHealerAbility {
    cursor: pointer;
}

.stockButton
{
    margin-left: -5px;
    margin-right: -5px;
    font-family:Consolas,monaco,monospace;
    font-size:15px;
	background-color:#093159;
    cursor: pointer;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
}

.stockButton:hover {
	background-color:#3e9ee1;
}

.stockButton:disabled {
    background: black;
    color: #4a4e54;
}

.investButton {
    font-family:Consolas,monaco,monospace;
	background: url('../Img/btn_HackBGGreen.png');
    cursor: pointer;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	text-decoration:none;
	text-align:center;
    margin: 0 auto;
    border-radius: 5px;
    margin-right: 10px;  
    height: 40px; 
    width: 500px;
}

.investButton:hover {
	background: url('../Img/btn_HackBG.png');
}