#console
{
    font-family: courier, terminal; 
    float:left;
    text-align:left;
    background: black;
    height:1600px;
    width: 1000px;
    color: #FFF;
	padding-top: 10px;
    padding-left: 10px;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

#mainGameWindow {
	padding: 10px; 
	padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;	
	overflow: hidden;
	max-height:500px; /* important */	
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

#mainGameInput {
	padding-left: 10px;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

#txtSubmit {
	background: black;
    font-family: courier, terminal; 
    /*font-family: Consolas,monaco,monospace;*/
	color: white;
	border: none;
	font-size: 16px;
    outline: none;
}
.consoleInputRow {
    float: left;
}
