body {
}
/*Delsec styled Crawler Buttons*/
.btn_Style {
    background: url('../Img/stockBg3.jpg');
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_Style:hover {
	background: url('../Img/stockBg4.jpg');
}

.btn_Style:disabled {
    background: black;
    color: #4a4e54;
}
/*RUSTEC*/
.btn_StyleRed {
	background: url('../Img/stockBgRed2.png');
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_StyleRed:hover {
	background: url('../Img/stockBgRed.png');
}
.btn_StyleRed:disabled {
    background: black;
    color: #4a4e54;
}
/*VIPERSEC*/
.btn_StyleGreen {
	background: url('../Img/stockBgGreen2.png');
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_StyleGreen:hover {
	background: url('../Img/stockBgGreen.png');
}
.btn_StyleGreen:disabled {
    background: black;
    color: #4a4e54;
}
/*CHIMERASEC*/
.btn_StylePurple {
	background: url('../Img/stockBgPurple1.jpg');
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_StylePurple:hover {
	background: url('../Img/stockBgPurple2.jpg');
}
.btn_StylePurple:disabled {
    background: black;
    color: #4a4e54;
}
/*GRIFFON BANK*/
.btn_StyleGray {
	background: url('../Img/stockBgGray1.jpg');
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_StyleGray:hover {
	background: url('../Img/stockBgGray2.jpg');
}
.btn_StyleGray:disabled {
    background: black;
    color: #4a4e54;
}
.btn_StyleGrayNoBg {
	background: #212121;
    border: 1px solid black;
	display:inline-block;
    cursor: pointer;
	color: white;
    font-family: Consolas,monaco,monospace;
	font-size:13px;
	height:50px;
    width: 550px;
    margin: 10px;
    margin-top: 20px;
	text-decoration:none;
	text-align:center;
}
.btn_StyleGrayNoBg:hover {
	background: #4a4e54;
}

.btn_TabSmall {
    background: #0a3b78;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
    border: 0px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
    font-weight: bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmall:hover {
    background: #1b4c89;
}
.btn_TabSmall:disabled {
    background: #212121;
}

.btn_TabSmallRed {

    background: #860707;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
    border: 0px;
    min-width: 150px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
    font-weight: bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmallRed:hover {
    background: #971818;
}
.btn_TabSmallRed:disabled {
    background: #212121;
}

.btn_TabSmallGreen {

    background: #287120;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
    border: 0px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
    font-weight: bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmallGreen:hover {
    background: #398231;
}
.btn_TabSmallGreen:disabled {
    background: #212121;
}


.btn_TabSmallPurple {

    background: #4a0b7c;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
    border: 0px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
    font-weight: bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmallPurple:hover {
    background: #5b1c8d;
}
.btn_TabSmallPurple:disabled {
    background: #212121;
}
.btn_TabSmallGray {

    background: #535353;
    cursor: pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
    border: 0px;
	display:inline-block;
	color: white;
	font-family: Consolas,monaco,monospace;
	font-size:14px;
    font-weight: bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
    margin-top: 20px;
}
.btn_TabSmallGray:hover {
    background: #646464;
}
.btn_TabSmallGray:disabled {
    background: #212121;
}
