body {
}

#healerAbilities
{
    float:left;
    margin: 0 auto;
    text-align:center;
    background: url('../Img/healerBG.jpg') 50% 0 repeat;
    color: #72ce68;
    height:1500px;
    width: 1000px;
}

.healerPassiveButton {
    border-radius: 3px;
    border: 1px solid black;
    background: url('../Img/healerButtonBG1.jpg');
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#btnHealerHeader {
    height:100px;
    width: 100px;
    margin: 0 auto;
}

#healerInfo {
    display: block;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;  
}

.healerSkillHoverPopup {
    display: none;  
    position: relative;
    height: 70px;
    width: 300px;
    background: #18311c;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;
    left: -125px;  
    top: -145px;
}

.healerActiveButton {
    border-radius: 3px;
    border: 1px solid black;   
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
}

#btnHealerLevel1-1 {
    background: url('../Img/healer/healShortTermPlus1.jpg');
}
#btnHealerLevel1-2 {
    background: url('../Img/healer/healLongTermPlus1.jpg');
}
#btnHealerLevel1-3 {
    background: url('../Img/healer/healExpeditionPlus1.jpg');
}

#btnHealerLevel2-1 {
    background: url('../Img/healer/healShortTermPercent.jpg');
}
#btnHealerLevel2-2 {
    background: url('../Img/healer/healLongTermPlus1.jpg');
}
#btnHealerLevel2-3 {
    background: url('../Img/healer/healExpeditionPercent.jpg');
}

#btnHealerLevel3-1 {
    background: url('../Img/healer/healShortTermPercent.jpg');
}
#btnHealerLevel3-2 {
    background: url('../Img/healer/healLongTermPlus1.jpg');
}
#btnHealerLevel3-3 {
    background: url('../Img/healer/healExpeditionPercent.jpg');
}

#btnHealerLevel4-1 {
    background: url('../Img/healer/healShortTermPercent.jpg');
}
#btnHealerLevel4-2 {
    background: url('../Img/healer/healLongTermPlus1.jpg');
}
#btnHealerLevel4-3 {
    background: url('../Img/healer/healGenerator.jpg');
}

#btnHealerLevel5-1 {
    background: url('../Img/healer/healShortTermPlus1.jpg');
}
#btnHealerLevel5-2 {
    background: url('../Img/healer/healExpeditionPercent.jpg');
}
#btnHealerLevel5-3 {
    background: url('../Img/healer/healGenerator.jpg');
}

#btnHealerLevel6-1 {
    background: url('../Img/healer/healExpeditionPlus2.jpg');
}
#btnHealerLevel6-2 {
    background: url('../Img/healer/healLongTermPlus1.jpg');
}
#btnHealerLevel6-3 {
    background: url('../Img/healer/healPermanentPercent.jpg');
}

#btnHealerLevel7-1 {
    background: url('../Img/healer/healLongTermPercent.jpg');
}
#btnHealerLevel7-2 {
    background: url('../Img/healer/healGenerator.jpg');
}
#btnHealerLevel7-3 {
    background: url('../Img/healer/healPermanentPercent.jpg');
}

#btnHealerLevel8-1 {
    background: url('../Img/healer/healShortTermPercent.jpg');
}
#btnHealerLevel8-2 {
    background: url('../Img/healer/healExpeditionPercent.jpg');
}
#btnHealerLevel8-3 {
    background: url('../Img/healer/healPermanentPercent.jpg');
}

#btnHealerLevel9-1 {
    background: url('../Img/healer/healShortTermUlt.jpg');
}
#btnHealerLevel9-2 {
    background: url('../Img/healer/healLongTermUlt.jpg');
}
#btnHealerLevel9-3 {
    background: url('../Img/healer/healPermanentUlt.jpg');
}

#healerSkill1-1:hover > #healerSkill1-1Popup {
    display: block;
}

#healerSkill1-2:hover > #healerSkill1-2Popup {
    display: block;
}

#healerSkill1-3:hover > #healerSkill1-3Popup {
    display: block;
}

#healerSkill2-1:hover > #healerSkill2-1Popup {
    display: block;
}

#healerSkill2-2:hover > #healerSkill2-2Popup {
    display: block;
}

#healerSkill2-3:hover > #healerSkill2-3Popup {
    display: block;
}

#healerSkill3-1:hover > #healerSkill3-1Popup {
    display: block;
}

#healerSkill3-2:hover > #healerSkill3-2Popup {
    display: block;
}

#healerSkill3-3:hover > #healerSkill3-3Popup {
    display: block;
}

#healerSkill4-1:hover > #healerSkill4-1Popup {
    display: block;
}

#healerSkill4-2:hover > #healerSkill4-2Popup {
    display: block;
}

#healerSkill4-3:hover > #healerSkill4-3Popup {
    display: block;
}

#healerSkill5-1:hover > #healerSkill5-1Popup {
    display: block;
}

#healerSkill5-2:hover > #healerSkill5-2Popup {
    display: block;
}

#healerSkill5-3:hover > #healerSkill5-3Popup {
    display: block;
}

#healerSkill6-1:hover > #healerSkill6-1Popup {
    display: block;
}

#healerSkill6-2:hover > #healerSkill6-2Popup {
    display: block;
}

#healerSkill6-3:hover > #healerSkill6-3Popup {
    display: block;
}

#healerSkill7-1:hover > #healerSkill7-1Popup {
    display: block;
}

#healerSkill7-2:hover > #healerSkill7-2Popup {
    display: block;
}

#healerSkill7-3:hover > #healerSkill7-3Popup {
    display: block;
}

#healerSkill8-1:hover > #healerSkill8-1Popup {
    display: block;
}

#healerSkill8-2:hover > #healerSkill8-2Popup {
    display: block;
}

#healerSkill8-3:hover > #healerSkill8-3Popup {
    display: block;
}

#healerSkill9-1:hover > #healerSkill9-1Popup {
    display: block;
}

#healerSkill9-2:hover > #healerSkill9-2Popup {
    display: block;
}

#healerSkill9-3:hover > #healerSkill9-3Popup {
    display: block;
}