#investments
{
    float:left;
    text-align:left;
    background: rgba(0,33,0,0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}

.investButton {
    font-family:Consolas,monaco,monospace;
	background: url('../Img/stockBgGreen.png');
    cursor: pointer;
	border:1px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-size:14px;
	text-decoration:none;
	text-align:center;
    margin: 0 auto;
    border-radius: 5px;
    margin-right: 10px;  
    height: 30px; 
    width: 597px;
}

.investButton:hover {
	background: url('../Img/stockBgGreen2.png');
}


#totalInvestmentSpent {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid #042105;
    margin: 10px;
    line-height: 50px;  
}

#investments h1 {
    text-align: center;
    margin: 0px;
    padding: 10px;
   
}

.investDiv {
    width: 597px;
    margin-bottom:5px;
	padding-top: 15px;
	float: left;
    text-align: center;
    margin-left: 3px;
    height: 45px;
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}

.investResultDiv {
	width: 395px;
	margin-bottom:5px;
	padding-top: 5px;
	float: right;
    margin-right: 3px;
    text-align: center;
    height: 55px;
    font-size: 12px;
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}

.summaryDiv {
    width: 674px;
	float: left;
    text-align: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    padding-left: 20px;  
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}
.investSummaryDisplay {
    width: 297px;
    margin-right: 2px;
    margin-top: 1px;
	float: left;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}
#totalSummary {
    text-align: right;
}

#shortTermInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

#longTermInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

#expeditionInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

#permanentInvestments {
    background: url('../Img/stockBg2.jpg') 50% 0 repeat fixed;
    height: 2000px;
}

#summaryInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

#delsecMap {
    width: 800px;
    height: 1600px;
    background: url('../Img/delsecmap.jpg');
    margin: 0 auto;
    border-radius: 10px;
}

.selectionButton {
    background: url('../Img/btnRing.png');
    width: 53px;
    height: 52px;
    border: none;
    cursor: pointer;
    position: absolute;
}

.investButtonContainer {
    position: absolute;
    width: 53px;
    height: 52px;
}

.selectionButton:hover {
    background: url('../Img/btnRingHover.png');
}

.selectionButton:active {
    background: url('../Img/btnRingClick.png');
}

.selectionButton:disabled {
    background: url('../Img/btnRingDisabled.png');
}

#investRental {   
    margin-left: 100px;
    margin-top: 50px;
}

#investFranchise {   
    margin-left: 580px;
    margin-top: 950px;
}


#investRealEstate {
    margin-left: 150px;
    margin-top: 700px;
}

#invest3BR {
    margin-left: 220px;
    margin-top: 350px;
}

#investBoat {
    margin-left: 400px;
    margin-top: 550px;
}

#investBeachside {
    margin-left: 450px;
    margin-top: 700px;
}

#investMansion {
    margin-left: 670px;
    margin-top: 1080px;
}

#investHighEnd {
    margin-left: 100px;
    margin-top: 390px;
}

#investSkyscraperLevel {
    margin-left: 500px;
    margin-top: 1320px;
}

#investCBDStore {
    margin-left: 320px;
    margin-top: 1300px;
}

#investCarDealer {
    margin-left: 360px;
    margin-top: 1400px;
}

#investSupermarket {
    margin-left: 120px;
    margin-top: 220px;
}

#investFactory {
    margin-left: 160px;
    margin-top: 1350px;
}

#investSkyscraper {
    margin-left: 450px;
    margin-top: 1240px;
}

#investSpacePort {
    margin-left: 650px;
    margin-top: 100px;
}

.investPopup {
    display: none;
    position: relative;
    margin-left: 55px;
    border-radius: 10px;
    padding-top:10px;
    width: 150px;
    height: 50px;
    font-size: 13px;
    background: #0a6309;
    line-height: 15px;
    text-align: center;
}

#investRental:hover > #investRentalPopup {
    display: block;   
}

#investFranchise:hover > #investFranchisePopup {
    display: block;   
}

#investRealEstate:hover > #investRealEstatePopup {
    display: block;   
}

#invest3BR:hover > #invest3BRPopup {
    display: block;   
}

#investBoat:hover > #investBoatPopup {
    display: block;   
}

#investBeachside:hover > #investBeachsidePopup {
    display: block;   
}

#investMansion:hover > #investMansionPopup {
    display: block;   
}

#investHighEnd:hover > #investHighEndPopup {
    display: block;   
}

#investSkyscraperLevel:hover > #investSkyscraperLevelPopup {
    display: block;   
}

#investCBDStore:hover > #investCBDStorePopup {
    display: block;   
}

#investCarDealer:hover > #investCarDealerPopup {
    display: block;   
}

#investSupermarket:hover > #investSupermarketPopup {
    display: block;   
}

#investFactory:hover > #investFactoryPopup {
    display: block;   
}

#investSkyscraper:hover > #investSkyscraperPopup {
    display: block;   
}

#investSpacePort:hover > #investSpacePortPopup {
    display: block;   
}