#investments
{
    float:left;
    text-align:left;
    background: rgba(0,33,0,0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}

#totalInvestmentSpent {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid #042105;
    margin: 10px;
    line-height: 50px;  
}

#investments h1 {
    text-align: center;
    margin: 0px;
    padding: 10px;
   
}

.investDiv {
    width: 597px;
    margin-bottom:20px;
	padding-top: 10px;
	float: left;
    text-align: center;
    margin-left: 3px;
    height: 50px;
    background: rgba(0,0,0,0.7);
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}
.investResultDiv {
	width: 395px;
	margin-bottom:20px;
	padding-top: 10px;
	float: right;
    margin-right: 3px;
    text-align: center;
    height: 50px;
    font-size: 12px;
    background: url('../Img/stockBgGreen3.jpg') 50% 0 repeat fixed;
}

#shortTermInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

#longTermInvestments {
    background: url('../Img/stockBgGreen2.png') 50% 0 repeat fixed;
    height: 100%;
}

