body {
    font-family: Consolas,monaco,monospace;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
	
}

#main
{
   background:#000; 
}

#left_Main
{
    float:left;
    color: #FFF;
    width: 400px;
	z-index:-1;
}
#right_Main
{
    float:right;
    width: 20%;
    color: #FFF;
}
#center_Main
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: url('../Img/bgCode2.jpg') 50% 0 repeat fixed;
}
#lblMoneyDisplay
{
    padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
    color: #FFF;
    font-size: 60px;   
}
#totalPacketDisplay {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    margin: 10px;
    line-height: 50px;
    
}

#lblMoneyDisplayScroll {
	left: 37%;
    top: 10px;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    text-align: center;
	width: 500px;
	height: 50px;
    border: 1px solid #666;
    color: #FFF;
    font-size: 40px;
	opacity: 0;
	z-index: 98;
}

#lblSaveState {
    color: white;
}

.lblItemDisplay {
    float: left;
    width: 210px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
    height: 50px;
    color: white;
    border: 1px solid #001b52;
    background: black;
    font-size: 13px;
}

.incremental
{
    padding-top: 30px;
    padding-left: 5px;
    width: 200px;
    height: 30px;
    display: none;
    color:#24b41e;
    float:left;
    font-size:14px;
}

.incrementalReinforced
{
    padding-top: 30px;
    padding-left: 5px;
    width: 200px;
    height: 30px;
    display: none;
    color:#88bb84;
    float:left;
    font-size:14px;
}

.crawlerButtonWrapper {
    width: 560px;
    height: 60px;
    float: left;
}

#welcome
{
    text-align: center;
    font-size: 20px;
    color: #FFF;
    width: 1000px;
    height: 1600px;
    background: rgba(0, 0, 0, 0.7);
}


#shop
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
}

.crawlerShopHeader {
    background: rgba(0,0,0,0.3);
    border: 1px solid black;
    padding: 5px;
    padding-left: 20px;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
    color: white;
}


#delsecCrawlerShop {
    background: #0a1437;
    height: 100%;
    padding-top: 10px;
}

#russianCrawlerShop {
    padding-top: 10px;
    background: #280303;
    height: 100%;
}

#vipersecCrawlerShop {
    padding-top: 10px;
    background: #0a3006;
    height: 100%;
}

#chimerasecCrawlerShop {
    padding-top: 10px;
    background: #130821;
    height: 100%;
}

#griffonbankCrawlerShop {
    padding-top: 10px;
    background: #1a1a1a;
    height: 100%;
}

#email
{
    float:left;
    text-align: left;
    font-family:Calibri;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
}



#manualIncrementDisplay
{
    width: 1000px;
}

.moneyDisplayAmt
{  
    height:16px;  
    color:#24b41e;
    font-size:16px;
    padding-bottom: 5px;
}
#nav_Buttons
{
    float: left;
    text-align:left;
    width:1000px;
    height:60px;
    border-width: 2px;
    border-color: #8ca1bd;   
}

.hidden_Divs
{
    display: none;
}

.hidden_Emails
{
    display: none;     
    border-style:solid;
    border-width: 1px;
    border-color: #001b52;
    background: black;
    color: #50a8fc;
    font-size: 14px;
    margin-left: 20px; 
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Consolas,monaco,monospace;
}

.hidden_Buttons
{
    display: none;
    width: 1000px;
    float: left;
}

#options {
    float:left;
    text-align: center;
    font-family:Calibri;
    background: black;
    color: white;
    height:800px;
    width: 1000px;
}
