body {
    font-family: Consolas,monaco,monospace;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
	
}

#main
{
   background:#000; 
}

#left_Main
{
    float:left;
    color: #FFF;
    width: 400px;
	z-index:-1;
}
#right_Main
{
    float:right;
    width: 20%;
    color: #FFF;
}
#center_Main
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 2000px;
    text-align: center;
    margin: 0 auto; 
    background: url('../Img/bgCode2.png') 50% 0 repeat fixed;
}
#lblMoneyDisplay
{
    padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
    color: #FFF;
    font-size: 60px;
    
}
#lblMoneyDisplayScroll {
	left: 37%;
    top: 10px;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    text-align: center;
	width: 500px;
	height: 50px;
    border: 1px solid #666;
    color: #FFF;
    font-size: 40px;
	opacity: 0;
	z-index: 98;
}

#lblSaveState {
    color: white;
}

#lblItemDisplay {
    color: white;
    margin: 20px;
    padding: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #001b52;
    background: black;
}

.crawlerDisplay {
    height: 24px;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    display: none;
}

#welcome
{
    text-align: center;
    font-size: 20px;
    color: #FFF;
    width: 1000px;
    height: 1600px;
    background: rgba(0, 0, 0, 0.7);
}


#shop
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
}

#email
{
    float:left;
    text-align: left;
    font-family:Calibri;
    background: rgba(255, 255, 255, 0.7);
    height:1600px;
}

#investments
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}

#abilities
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
	padding-top: 10px;
}

#console
{
    float:left;
    text-align:left;
    background: black;
    height:1600px;
    width: 1000px;
    color: #FFF;
	padding-top: 10px;
    padding-left: 10px;
}

#warriorAbilities
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}
#wizardAbilities
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}
#rogueAbilities
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}
#healerAbilities
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:1600px;
    width: 1000px;
    color: #FFF;
}
#abilityHeading
{
    float: left;
    width: 1000px;
    height: 100px;
    text-align: center;
}
.abilityDisplay
{
    width:200px;
    float: left;
    height:700px;
}

#manualIncrementDisplay
{
    width: 1000px;
}

.moneyDisplayAmt
{  
    height:16px;  
    color:#24b41e;
    font-size:16px;
    padding-bottom: 5px;
}
#threeBitDisplay
{
    width: 1000px;
    float: left;
}
#nav_Buttons
{
    float: left;
    text-align:left;
    width:1000px;
    height:60px;
    border-width: 2px;
    border-color: #8ca1bd;   
}
.hidden_Divs
{
    display: none;
}

.hidden_Emails
{
    display: none;     
    background: white;  
	padding-left:10px;
    font-family: Consolas,monaco,monospace;
}

.incremental
{
    display: none;
    color:#24b41e;
    float:right;
    font-size:20px;
}

.incrementalReinforced
{
    display: none;
    color:#88bb84;
    float:right;
    font-size:20px;
}

.hidden_Buttons
{
    display: none;
    width: 1000px;
    float: left;
}

