body {
    font-family: Consolas,monaco,monospace;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#main
{
   background:#000; 
}

.hyperlink {
    color: white;
}

#left_Main
{
    float:left;
    color: #FFF;
    width: 400px;
	z-index:-1;
}
#right_Main
{
    float:right;
    width: 20%;
    color: #FFF;
}
#center_Main
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: url('../Img/bg.jpg') 50% 0 repeat fixed;
}

#delsecTechGodCenter
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: left;
    margin: 0 auto; 
    background: black;
    color: white;   
}
#lblMoneyDisplay
{
    padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
    color: #FFF;
    font-size: 60px;   
}

#lblMoneyDisplayScroll {
	left: 37%;
    top: 10px;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    text-align: center;
	width: 500px;
	height: 50px;
    border: 1px solid #666;
    color: #FFF;
    font-size: 40px;
	opacity: 0;
	z-index: 98;
}


#welcome
{
    text-align: center;
    font-size: 18px;
    font-family: Consolas,monaco,monospace;
    color: #FFF;
    width: 1000px;
    height: 1600px;
    background: rgba(0, 0, 0, 0.7);
}


#shop
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:2400px;
}

#email
{
    float:left;
    text-align: left;
    font-family:Calibri;
    background: rgba(0, 0, 0, 0.7);
    height:2600px;
    overflow-x:hidden;
    overflow-y:auto;
}

#manualIncrementDisplay
{
    width: 1000px;
}

.moneyDisplayAmt
{  
    height:16px;  
    color:#24b41e;
    font-size:16px;
    padding-bottom: 5px;
    font-weight: bold;
}

#nav_Buttons
{
    float: left;
    text-align:left;
    width:1000px;
    height:40px;
    margin-top:10px;
}

.hidden_Divs
{
    display: none;
}

.hidden_Emails
{
    display: none;     
    border-style:solid;
    border-width: 1px;
    border-color: #001b52;
    background: black;
    color: #50a8fc;
    font-size: 14px;
    margin-left: 20px; 
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Consolas,monaco,monospace;
}

.hidden_Buttons
{
    display: none;
    width: 1000px;
    float: left;
}

#options {
    float:left;
    text-align: center;
    font-family:Calibri;
    background: black;
    color: white;
    height:1600px;
    width: 1000px;
}
#optionsTop {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

#optionsTabs {
    width: 100%;
    float: left;
    height: 40px;
    text-align: left;
}
#patchNotes {
    padding-top: 20px;
    text-align: left;
    background: #010031;
    height: 1000px;
    float: left;
    overflow: auto;
}
#resetGame {
    height: 1000px;
    float: left;
    padding-top: 20px;
}

#backgroundThemes {
    height: 1000px;
    float: left;
    padding-top: 20px;
}
#disclaimerContainer {
    background: #0b0b0b;
}
#disclaimer {
    background: #0b0b0b;
    color: white;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
#disclaimer a {
    text-decoration: none;
    color: #666;
}

#gameProgress {
    width: 1000px;
    height: 1000px;
    padding-top: 20px;
    float: left;
}

#completedContainer {
    padding-left:300px;
    width: 440px;
    height: 440px;
}

.classCompleted {
    width: 200px;
    height: 200px;
    float: left;
}

#healerVictorySplash
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: black;
    color: green;
}
#healerVictoryLogo {
    padding-top: 100px;
}

#wizardVictorySplash
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: black;
}
#delsecVictorySplash {
    color: #50a8fc;
}
#russianVictorySplash {
    color: #c20000;
}
#vipersecVictorySplash {
    color: #24b41e;
}
#chimerasecVictorySplash {
    color: #9216cb;
}
#griffonbankVictorySplash {
    color: #898989;
}
#noControlVictorySplash {
    color: #fff;
}
#rareVictorySplash {
    color: #fff;
}


#rogueVictorySplash
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: black;
}

#warriorVictorySplash
{  
	z-index: 100;
    border-width: 5px;
    border-style:solid;
    border-color: #000;
    border-radius:25px;    
    width: 1000px;
    height: 3000px;
    text-align: center;
    margin: 0 auto; 
    background: black;
}

#warriorCompletedDisplay {
    background: url(../Img/warriorNotCompleted.png);  
}
#wizardCompletedDisplay {
    background: url(../Img/wizardNotCompleted.png);  
}
#healerCompletedDisplay {
    background: url(../Img/healerNotCompleted.png);  
}
#rogueCompletedDisplay {
    background: url(../Img/rogueNotCompleted.png);  
}