body {
}
#stocks
{
    float:left;
    text-align:left;
    background: rgba(0, 0, 0, 0.7);
    height:2500px;
    width: 1000px;
    color: #5ac7ff;
}
#stockTimerDisplay {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background: url('../Img/stockHeader.jpg') 50% 0 repeat fixed;
    font-size: 30px;
    line-height:100px;
}
#delsecStockUpdate
{
    width: 200px;
    float: right;
    height: 100px;
}

.stockType
{
    height: 20px;
    float: left;
}

.stockTypeDisplay
{
    height: 20px;
    float: left;
}
tr:nth-child(even) {
    background: url('../Img/stockBg2.jpg') 50% 0 repeat fixed;
}
#stocks table
{
    text-align: center;
    height: 40px;
    vertical-align: central;
    background: url('../Img/stockBg1.jpg') 50% 0 repeat fixed;
	width: 1000px;
}
#stocks tr td{
    padding-top: 2px;
    padding-bottom: 2px;
}
#stocks th, td
{
    border-style:solid;
    border-width: 1px;
    border-color: #3e9ee1;
    vertical-align: central;
}