#warriorCoding {
    float: left;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    width: 1000px;
    height: 1600px;
    background: rgba(22,0,0,0.7);
}

#totalWarriorClicks {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    margin: 10px;
    line-height: 50px;  
    border: 1px solid #520808;
}
#currentComputerPower {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    margin: 10px;
    line-height: 50px;  
    border: 1px solid #520808;
}

.warriorCode {
    width: 570px;
    height: 100px;
    margin: 0 auto;
    font-size: 16px;
    margin: 10px;
    float: left;
    padding: 5px;
    text-align: left;
    color: white;
    border: 1px solid black;
    background: #1E1E1E;
}

.warriorCodeResult {
    width: 340px;
    height: 60px;
    font-size: 14px;
    margin: 0 auto;
    margin: 10px;
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
    border: 1px solid #520808;
    background: black;
}
.warriorRow{
    float:left;
    background: #230501;
    width:1000px;
}
.warriorRowHeader{
    float:left;
}

#warriorItemsTab {
    float: left;
    width: 1000px;
    background: #2b0303;
}

.warriorItemContainer {
    float: left;
}

.itemAmtDisplay {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 16px;
    text-align: right;
}

.consoleCommandsRow{
    padding-top: 30px;
    text-align: left;
    font-size: 14px;
    float:left;
    background: black;
    width:1000px;
}