#warriorCoding {
    float: left;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    width: 1000px;
    height: 1600px;
    background: rgba(0, 0, 0, 0.7);
}

#totalWarriorClicks {
    width: 970px;
    font-size: 20px;
    margin: 0 auto;
    margin: 10px;
    line-height: 50px;  
    border: 1px solid #520808;
}

#warriorCodeEfficiency1 {
    width: 570px;
    height: 60px;
    margin: 0 auto;
    font-size: 16px;
    margin: 10px;
    float: left;
    padding: 5px;
    text-align: left;
    color: white;
    border: 1px solid black;
    background: #1E1E1E;
}

#warriorCodeEfficiency1Result {
    width: 340px;
    height: 60px;
    font-size: 14px;
    margin: 0 auto;
    margin: 10px;
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
    border: 1px solid #520808;
    background: black;
}
