body {
}

#wizardAbilities
{
    float:left;
    margin: 0 auto;
    text-align:center;
    background: url('../Img/wizardBG.jpg') 50% 0 repeat;
    height:1500px;
    width: 1000px;
    color: #4c81c2;
}

.wizardPassiveButton {
    border-radius: 3px;
    border: 1px solid black;
    background: url('../Img/wizardButtonBG1.jpg');
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#btnWizardHeader {
    height:100px;
    width: 100px;
    margin: 0 auto;
}

#wizardInfo {
    display: block;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;  
}

#btnWizardHeader:hover > #wizardInfo {
    display: block;
    position: relative;
    height: 50px;
    width: 300px;
    background: #080a34;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;  
    left:110px;
    top:-100px;
}

.wizardSkillHoverPopup {
    display: none;  
    position: relative;
    height: 80px;
    width: 300px;
    background: #080a34;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;
    left: -125px;  
    top: -155px;
}

.wizardSkillHoverLongPopup {
    display: none;  
    position: relative;
    height: 120px;
    width: 300px;
    background: #080a34;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin: 0 auto;
    left: -125px;  
    top: -195px;
}

.wizardActiveButton {
    border-radius: 3px;
    border: 1px solid black;
    background: url('../Img/tempSkill.jpg');
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
}

#btnWizardLevel1-1 {
    background: url('../Img/wizard/delsec1.jpg');
}
#btnWizardLevel1-2 {
    background: url('../Img/wizard/russian1.jpg');
}
#btnWizardLevel1-3 {
    background: url('../Img/wizard/griffon1.jpg');
}

#btnWizardLevel2-1 {
    background: url('../Img/wizard/ip.jpg');
}
#btnWizardLevel2-2 {
    background: url('../Img/wizard/delsec1.jpg');
}
#btnWizardLevel2-3 {
    background: url('../Img/wizard/chimera1.jpg');
}

#btnWizardLevel3-1 {
    background: url('../Img/wizard/risk.jpg');
}
#btnWizardLevel3-2 {
    background: url('../Img/wizard/russian1.jpg');
}
#btnWizardLevel3-3 {
    background: url('../Img/wizard/viper1.jpg');
}

#btnWizardLevel4-1 {
    background: url('../Img/wizard/necro.jpg');
}
#btnWizardLevel4-2 {
    background: url('../Img/wizard/ip.jpg');
}
#btnWizardLevel4-3 {
    background: url('../Img/wizard/griffon1.jpg');
}

#btnWizardLevel5-1 {
    background: url('../Img/wizard/risk.jpg');
}
#btnWizardLevel5-2 {
    background: url('../Img/wizard/delsec1.jpg');
}
#btnWizardLevel5-3 {
    background: url('../Img/wizard/viper1.jpg');
}

#btnWizardLevel6-1 {
    background: url('../Img/wizard/multiBase.jpg');
}
#btnWizardLevel6-2 {
    background: url('../Img/wizard/ip.jpg');
}
#btnWizardLevel6-3 {
    background: url('../Img/wizard/viper1.jpg');
}

#btnWizardLevel7-1 {
    background: url('../Img/wizard/chimera1.jpg');
}
#btnWizardLevel7-2 {
    background: url('../Img/wizard/ironc.jpg');
}
#btnWizardLevel7-3 {
    background: url('../Img/wizard/viper1.jpg');
}

#btnWizardLevel8-1 {
    background: url('../Img/wizard/delsec1.jpg');
}
#btnWizardLevel8-2 {
    background: url('../Img/wizard/multiBase.jpg');
}
#btnWizardLevel8-3 {
    background: url('../Img/wizard/viper1.jpg');
}

#btnWizardLevel9-1 {
    background: url('../Img/wizard/delsect.jpg');
}
#btnWizardLevel9-2 {
    background: url('../Img/wizard/multiBase.jpg');
}
#btnWizardLevel9-3 {
    background: url('../Img/wizard/russian1.jpg');
}

#wizardSkill1-1:hover > #wizardSkill1-1Popup {
    display: block;
}

#wizardSkill1-2:hover > #wizardSkill1-2Popup {
    display: block;
}

#wizardSkill1-3:hover > #wizardSkill1-3Popup {
    display: block;
}

#wizardSkill2-1:hover > #wizardSkill2-1Popup {
    display: block;
}

#wizardSkill2-2:hover > #wizardSkill2-2Popup {
    display: block;
}

#wizardSkill2-3:hover > #wizardSkill2-3Popup {
    display: block;
}

#wizardSkill3-1:hover > #wizardSkill3-1Popup {
    display: block;
}

#wizardSkill3-2:hover > #wizardSkill3-2Popup {
    display: block;
}

#wizardSkill3-3:hover > #wizardSkill3-3Popup {
    display: block;
}

#wizardSkill4-1:hover > #wizardSkill4-1Popup {
    display: block;
}

#wizardSkill4-2:hover > #wizardSkill4-2Popup {
    display: block;
}

#wizardSkill4-3:hover > #wizardSkill4-3Popup {
    display: block;
}

#wizardSkill5-1:hover > #wizardSkill5-1Popup {
    display: block;
}

#wizardSkill5-2:hover > #wizardSkill5-2Popup {
    display: block;
}

#wizardSkill5-3:hover > #wizardSkill5-3Popup {
    display: block;
}

#wizardSkill6-1:hover > #wizardSkill6-1Popup {
    display: block;
}

#wizardSkill6-2:hover > #wizardSkill6-2Popup {
    display: block;
}

#wizardSkill6-3:hover > #wizardSkill6-3Popup {
    display: block;
}

#wizardSkill7-1:hover > #wizardSkill7-1Popup {
    display: block;
}

#wizardSkill7-2:hover > #wizardSkill7-2Popup {
    display: block;
}

#wizardSkill7-3:hover > #wizardSkill7-3Popup {
    display: block;
}

#wizardSkill8-1:hover > #wizardSkill8-1Popup {
    display: block;
}

#wizardSkill8-2:hover > #wizardSkill8-2Popup {
    display: block;
}

#wizardSkill8-3:hover > #wizardSkill8-3Popup {
    display: block;
}

#wizardSkill9-1:hover > #wizardSkill9-1Popup {
    display: block;
}

#wizardSkill9-2:hover > #wizardSkill9-2Popup {
    display: block;
}

#wizardSkill9-3:hover > #wizardSkill9-3Popup {
    display: block;
}